body {
	background-image: url("../images/Kramer_wallpapers.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

h3 {
	color: white;
	font-size: 40px;
	text-shadow: 1px 5px 10px rgba(0,0,0,0.7),
				 2px 10px 20px rgba(0,0,0,0.5),
				 2px 20px 30px rgba(0,0,0,0.4);
}

.btn{
	font-size: 25px;
}

#logo {
	width: 50%;
}

#clock {
	font-size: 45px;
}

#celebrate1 {
	width: 100% 
	height: 100%; 
	/*padding-left: 5%;*/
}

#clock {
	color: white;
	font-size: 40px;
	text-shadow: 1px 5px 10px rgba(0,0,0,0.4),
				 2px 10px 20px rgba(0,0,0,0.1),
				 2px 20px 30px rgba(0,0,0,0.1);
}

#answerA{
	color: white;
	font-size: 30px;
	text-shadow: 1px 5px 10px rgba(0,0,0,0.4),
				 2px 10px 20px rgba(0,0,0,0.1),
				 2px 20px 30px rgba(0,0,0,0.1);
	transition: 0.48s;

}

#answerA:hover {
	background: #fcd820;
	color: #e30923;
	font-weight: bold;
	font-size: 36px;
	border: 2px solid #e30923;
	border-radius: 30px;
	padding-left: 15px; 
	transition: 0.48s;
	text-shadow: 1px 5px 10px rgba(0,0,0,0.4),
				 2px 10px 20px rgba(0,0,0,0.1),
				 2px 20px 30px rgba(0,0,0,0.1);
}

#answerB{
	color: white;
	font-size: 30px;
	text-shadow: 1px 5px 10px rgba(0,0,0,0.4),
				 2px 10px 20px rgba(0,0,0,0.1),
				 2px 20px 30px rgba(0,0,0,0.1);
	transition: 0.48s;
}

#answerB:hover{
	background: #fcd820;
	color: #e30923;
	font-weight: bold;
	font-size: 36px;
	border: 2px solid #e30923;
	border-radius: 30px;
	padding-left: 15px; 
	transition: 0.48s;
	text-shadow: 1px 5px 10px rgba(0,0,0,0.4),
				 2px 10px 20px rgba(0,0,0,0.1),
				 2px 20px 30px rgba(0,0,0,0.1);
}

#answerC{
	color: white;
	font-size: 30px;
	text-shadow: 1px 5px 10px rgba(0,0,0,0.4),
				 2px 10px 20px rgba(0,0,0,0.1),
				 2px 20px 30px rgba(0,0,0,0.1);
	transition: 0.48s;

}

#answerC:hover{
	background: #fcd820;
	color: #e30923;
	font-weight: bold;
	font-size: 36px;
	border: 2px solid #e30923;
	border-radius: 30px;
	padding-left: 15px; 
	transition: 0.48s;
	text-shadow: 1px 5px 10px rgba(0,0,0,0.4),
				 2px 10px 20px rgba(0,0,0,0.1),
				 2px 20px 30px rgba(0,0,0,0.1);
}

#answerD{
	color: white;
	font-size: 30px;
	text-shadow: 1px 5px 10px rgba(0,0,0,0.4),
				 2px 10px 20px rgba(0,0,0,0.1),
				 2px 20px 30px rgba(0,0,0,0.1);
	transition: 0.48s;

}

#answerD:hover{
	background: #fcd820;
	color: #e30923;
	font-weight: bold;
	font-size: 33px;
	border: 2px solid #e30923;
	border-radius: 30px;
	padding-left: 15px; 
	transition: 0.48s;
	text-shadow: 1px 5px 10px rgba(0,0,0,0.4),
				 2px 10px 20px rgba(0,0,0,0.1),
				 2px 20px 30px rgba(0,0,0,0.1);
}

#incorrect {
	margin-left: 350px;
	width: 600px;
}

#correct-answer {
	font-size: 18px;
	color: white;
	text-shadow: 1px 3px 4px rgba(0,0,0,0.4),
				 2px 6px 14px rgba(0,0,0,0.1),
				 2px 12px 24px rgba(0,0,0,0.1);
}

#start-button {
	width: 67%;
	height: 450px;
	border: 3px solid #56809A;
	background-color: #4274B3;
	box-shadow: 0 0 10px #000000 inset;
	margin-bottom: 7.5%;
}

.btn {
	margin-top: 34%;
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 35px;
	background-color: #fcd820;
	color: #e30923;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 5px;
	text-shadow: 1px 4px 8px rgba(0,0,0,0.5);
	box-shadow: 10px 10px 5px #000;
}

