body {
	background-image: url("../images/Kramer_wallpapers.jpg");
	background-size: cover;
	background-position: center;
}

h3 {
	color: black;
	font-size: 40px;

}

.btn{
	font-size: 25px;
}

#logo {
	width: 50%;
}

#clock {
	font-size: 45px;
}

#celebrate1 {
	margin-left: 350px;
	width: 600px;
}

